<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button @click="toggleBooks">
        <span v-if="showbooks">Hide</span>
        <span v-else>Show</span>
      </button>
      <div v-if="showbooks">
        <p>{{title}} {{age}}</p>
        <button @click="age++">Increase age</button>
        <button @click="age--">Decrease age</button>
        <button @click="changeTitle">Change title</button>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
